<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DataStructure">
      <section name="Employee" type="System.Configuration.NameValueSectionHandler, System"/>
    </sectionGroup>
  </configSections>
  <DataStructure>
    <Employee>
      <add key="EmployeeBlock" value="S30.G01.00"/>
      <add key="Nir" value="S30.G01.00.001"/>
      <add key="LastName" value="S30.G01.00.002"/>
      <add key="FirstName" value="S30.G01.00.003"/>
      <add key="Matricule" value="S30.G01.00.019"/>
    </Employee>
  </DataStructure>
  <appSettings>
    <add key="ApplicationName" value="Configuration Example Project"/>
    <add key="Language" value="CSharp"/>
    <add key="SecretKey" value="012345"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>